<div class="result-wrapper md-body-1" ng-if="$ctrl.cheapestFlight">
  <h2>The cheapest flight:</h2>
  <table class="result-table">
    <thead>
      <th>Departure</th>
      <th>Arrival</th>
      <th>Price</th>
    </thead>
    <tbody>
      <tr>
        <td>{{$ctrl.cheapestFlight.dateFrom|date:'yyyy. MM. dd. HH:mm:ss'}}</td>
        <td>{{$ctrl.cheapestFlight.dateTo|date:'yyyy. MM. dd. HH:mm:ss'}}</td>
        <td>{{$ctrl.cheapestFlight.currency}}{{$ctrl.cheapestFlight.price|currency:'':2}}</td>
      </tr>
      <tr>
        <td class="result-separator" ng-click="$ctrl.moreResult = !$ctrl.moreResult" colspan="3">
          {{$ctrl.moreResult ? '&#8679; Less results &#8679;' : '&#8681; All results &#8681;'}}
        </td>
      </tr>
      <tr ng-repeat="flight in $ctrl.flights|orderBy:'price'" ng-show="$ctrl.moreResult">
        <td>{{flight.dateFrom|date:'yyyy. MM. dd. HH:mm:ss'}}</td>
        <td>{{flight.dateTo|date:'yyyy. MM. dd. HH:mm:ss'}}</td>
        <td>{{flight.currency}}{{flight.price|currency:'':2}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div ng-if="$ctrl.noResult()">
  We didn't find any flight with the requested parameters!
</div>
