.result-wrapper {
  .result-table {
    border-collapse: collapse;

    th {
      padding: 10px;
      background-color: $ryan-midblue;
      color: $ryan-bg;
      &:first-of-type {
        border-radius: 5px 0 0 0;
        background-color: $ryan-lightblue;
      }
      &:last-of-type {
        border-radius: 0 5px 0 0;
        background-color: $ryan-blue
      }
    }

    td {
      margin: 0;
      border: 1px solid #e0e0e0;
      background-color: $ryan-bg;
      color: $ryan-blue;
      padding: 10px;
    }

    .result-separator {
      text-align: center;
      font-weight: bold;
      background-color: $ryan-yellow;
      border: none;
      color: $ryan-blue;
    }
  }
}
