<section layout="row" layout-sm="column" layout-wrap>
  <md-content layout-padding>
    <div>
      <form name="cheapFlightSearchForm" novalidate="true">
        <div layout-gt-xs="row">
          <md-input-container class="md-block" flex-gt-xs>
            <label>Origin</label>
            <input ng-model="$ctrl.origin" name="origin" required>
            <div ng-messages="cheapFlightSearchForm.origin.$error">
              <div ng-message="required">Origin is required.</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-xs>
            <label>Destination</label>
            <input ng-model="$ctrl.destination" name="destination" required>
            <div ng-messages="cheapFlightSearchForm.destination.$error">
              <div ng-message="required">Destination is required.</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-xs>
            <label>From:</label>
            <md-datepicker ng-model="$ctrl.fromDate" name="fromDate" md-placeholder="Enter date" md-hide-icons="calendar" required></md-datepicker>
            <div ng-messages="cheapFlightSearchForm.fromDate.$error">
              <div ng-message="required">From date is required.</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-xs>
            <label>To:</label>
            <md-datepicker ng-model="$ctrl.toDate" name="toDate" md-placeholder="Enter date" md-hide-icons="calendar" required></md-datepicker>
            <div ng-messages="cheapFlightSearchForm.toDate.$error">
              <div ng-message="required">To date is required.</div>
            </div>
          </md-input-container>
        </div>
        <md-button class="md-raised md-primary search-button" ng-click="$ctrl.searchFlight(cheapFlightSearchForm)" ng-disabled="cheapFlightSearchForm.$invalid">Search</md-button>
      </form>
    </div>
  </md-content>
</section>
