<h1>
  Cheap Flight Finder
</h1>
<p class="md-body-2">
  For finding the cheapest flight from our offers select origin and destination airports and date interval of your interest.
</p>
<p class="md-body-2">
  You can use IATA Code or full Airport name in the origin and destination fields.
</p>
<section>
  <cheap-flight-search data-iata-data="$ctrl.iataData" data-flights="$ctrl.flights">
    Search Form
  </cheap-flight-search>
</section>

<section>
  <cheap-flight-result data-flights="$ctrl.flights">
    Results
  </cheap-flight-result>
</section>
