$ryan-blue: #073590;
$ryan-midblue: #0d49c0;
$ryan-lightblue: #2091eb;
$ryan-yellow: #f1c933;
$ryan-bg: #f4f4f4;

@import 'app/components/cheapFlightSearch';
@import 'app/components/cheapFlightResult';

html, body, #root {
  margin: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

body, h1, h2, h3 {
  font-weight: 300
}

a {
  color: white;
  text-decoration: none;

  &:hover {
    color: $ryan-lightblue;
  }
}

h1 {
  color: $ryan-blue;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: $ryan-bg;
  padding: 0 20px 20px;
}

.header {
  display: flex;
  align-items: center;
  background-color: $ryan-blue;
  color: $ryan-yellow;
}
.header-title {
  flex: 1;
  font-size: 1.5rem;
  margin: 1rem;

  a {
    color: $ryan-yellow;

    &:hover {
      color: $ryan-lightblue;
    }
  }
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: #cf4646;
}

.title-h1 {
  font-weight: 300;
  font-size: 4rem;
  margin: 1rem;
}

.title-logo {
  height: 12rem;
  background-color: white;
  border-radius: 1rem;
  margin: 1rem;
}

.title-h2 {
  font-weight: 300;
  font-size: 2rem;
  margin: .5rem;
}

.footer {
  padding: 0.5rem;
  font-size: 1rem;
  background-color: $ryan-blue;
  color: $ryan-yellow;
  text-align: center;
}

@import '../node_modules/angular-material/angular-material'
